body {

	font-family: sans-serif;




}


.mortgageTop {
  background-image: url("images/house1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  padding-bottom: 200px; 
  
  overflow: hidden;
  color: white;
  padding-right: 0px;
  display: flex;
  height: 400px;
  white-space: nowrap;
  
}
.mortgageTopRefinance{
  background-image: url("images/house2.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  padding-bottom: 200px; 
  
  overflow: hidden;
  color: white;
  padding-right: 0px;
  display: flex;
  height: 400px;
  white-space: nowrap;
}
.mortgageTopPurchase{
  background-image: url("images/house3.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  padding-bottom: 200px; 
  
  overflow: hidden;
  color: white;
  padding-right: 0px;
  display: flex;
  height: 400px;
  white-space: nowrap;
}
.mortgageTopContact{
  background-image: url("images/house4.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  padding-bottom: 200px; 
  
  overflow: hidden;
  color: white;
  padding-right: 0px;
  display: flex;
  height: 400px;
  white-space: nowrap;
}
.text-container{
  background-color: rgb(252, 252, 252, .6);
  padding-right: 100px;
  max-width: 500px;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin:160px;
  padding-bottom: 300px;



}

.topnav {
  overflow: hidden;
  padding:1px;
  background-image: linear-gradient(to right, #cccccc, #dbdbdb);
}

  .topnav a {
    float: right;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0px 30px;
    padding-top: 30px;
    text-decoration: none;
    font-size: 28px;
    transition-duration: 0.2s;
  }
  .topnav > img{
    padding-top: 0px !important; 
  }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
      padding-top: 25px;
      transition-duration: 0.2s;
      overflow: hidden;
    }






p {
	font-family: 'Arial', sans-serif;
	font-size: 27px;
	line-height: 1.5;
	margin: 0 0 1em 0;
	text-align: justify;
	
  }


  body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
  }
  
  /* Main section */
  main {
	background-color: #fff;
	color: #333;
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  h1 {
	font-size: 48px;
	margin: 0;
  }
  
  p {
	font-size: 24px;
	line-height: 1.5;
  }
  
  button {
	background-color: rgb(23, 51, 85);
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.2s ease-out;
	border: 2px solid rgb(23, 51, 85);
  }
  
  button:hover {
	background-color: #fff;
	color: rgb(23, 51, 85);
	border: 2px solid rgb(23, 51, 85);
  }
  
  /* Footer section */
  footer {
	background-color: rgb(23, 51, 85);
	color: #fff;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
  }
  
  a:hover {
	text-decoration: underline;
  }
  .modernMakeup{
	background-color: rgb(245, 245, 245);
	overflow: hidden;
	box-shadow: 0 2px 8px rgb(214, 214, 214);
  }
  #about{
	padding: 20px;
  }

  #topInfo h1{
	font-size: 70px;
  }
  #topInfo button{
	justify-content: center;
	margin-left: 800px;
  }


  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }

  li {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  td {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  th {
    background-color: rgb(252, 252, 252);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  table {
    padding: 20px 80px;
  }
  #services h2 {
    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  #services{
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 26px;

	margin-bottom: 20px;

  }
  .hover-line {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .hover-line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #0070ba;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-line:hover::after {
    transform: scaleX(1);
  }
  .blue-bar {
    width: 10%;
    height: 4px;
    background-color: #0070ba;
    position: center;
    top: 93%;
    left: 0;
    transform: translateY(-50%);
    margin: 0 auto;
  }
  #getStarted{
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: rgb(0, 0, 0);
  }
  


/* Green color for headings */





.card {
  flex-direction: column;
  max-width: 400px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 20px;
  display: inline-block;
  margin: 25px;
  margin-left: 150px;
  margin-top: 50px;
  

}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text {
  margin-top: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.card a.ps-btn-secondary {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0070ba;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.centerText{
    text-align: center; 
    color: black; 
    font-family:"Corbel Light", sans-serif; font-style: normal; 
    font-weight: normal; 
    text-decoration: none; 
    font-size: 40pt; 
}

.info {
  display: flex;
  align-items: center;
  padding-bottom: 100px; /* Adjust the padding value as needed */
}

.text {
  flex: 1;
  margin-right: 20px; /* Adjust the margin value as needed */
  padding-top:50px;
}

.image {
  flex: 1;
  text-align: right;
}
.custom-color {
  color: #173355; /* Replace 'red' with your desired color */
}
.blue-bar-left {
  width: 42.5%;
  height: 4px;
  background-color: #0070ba;


}